vue-frontend/node_modules/
express-backend/node_modules/
database/

vue-frontend/dist/

vue-frontend/.env
vue-frontend/.env.*
!vue-frontend/.env.example

express-backend/.env
express-backend/.env.*
!express-backend/.env.example

*.log
npm-debug.log*

.DS_Store
Thumbs.db

vue-frontend/vite.config.ts.timestamp-*
vue-frontend/vitest.config.ts.timestamp-*

vue-frontend/tests_output/