/database/

vue-frontend/node_modules/
vue-frontend/dist/
vue-frontend/.env
vue-frontend/.env.*
!vue-frontend/.env.example

vue-frontend/vite.config.ts.timestamp-*
vue-frontend/vitest.config.ts.timestamp-*

vue-frontend/tests_output/

express-backend/node_modules/
express-backend/dist
express-backend/.env
express-backend/.env.*
!express-backend/.env.example

*.log
npm-debug.log*

.DS_Store
Thumbs.db
